testingfunc/a.out
wait
pipe
unlink
infile
outfile
pipex
Libft/libft.a
testingfunc/for
*.o
testingfunc/mallocfail.c
.vscode/
testingfunc/dup2
testingfunc/dup2.c
testingfunc/testing.txt
testingfunc/strerror
testingfunc/strerror.c
testingfunc/mallocing
testingfunc/
tests
